<!-- Wappler include head-page="Encaissement/Enc_Divers" appConnect="local" is="dmx-app" bootstrap5="local" fontawesome_5="cdn" -->
<div class="row border-top border-dark mt-5 mb-5 pt-0 pb-1 bg-transparent">
    <table class="table table-striped table-muted bg-light">
        <thead class="table-muted">
            <tr>
                <th>undefined</th>
                <th>undefined</th>
                <th>undefined</th>
                <th>undefined</th>
                <th>undefined</th>
            </tr>
        </thead>
        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="" id="tableRepeat1">
            <tr>
            </tr>
        </tbody>
    </table>
</div>