.text-start{text-align:left!important;font-size:15px}
.style1{/*  linear-gradient(to right, RGB(110, 175, 233), RGB(110, 175, 233));: */background-image:linear-gradient(105deg, #0d6efd 33%, white 100%)}
.style2{background-image:linear-gradient(271deg, white 13%, #0d6efd 100%);font-size:12px}
.style3{width:50%;height:50%;margin:0px;padding:0px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style4{font-family:"Times New Roman", Times, serif;font-size:8px}
.style5{height:100vh}
.wappler-temp{}
.style6{font-size:9px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style7{margin-top:0px;margin-bottom:0px;padding-top:0px;display:grid;font-weight:bold}
.style7:not(:last-child){
    margin-bottom: 0;
}
.style8{}
.wappler-temp{}
.style9{font-size:9px}
.style10{font-size:10px;width:250px}
.style11{}
.style12{font-size:8px}
.style13{font-size:11px}
.style14{font-size:11px}
.style15{font-size:11px}
.style16{font-size:11px}
.style17{font-size:11px}
.style18{font-size:11px}
.style19{font-size:10px}
.style20{font-size:10px}
.style21{font-size:10px}
.style22{font-size:10px}
.style23{font-size:10px}
.style24{font-size:10px}
.style25{font-size:10px}
.style26{font-size:10px;width:50px}
.style27{font-size:10px}
.style28{font-size:10px}
.style29{font-size:10px}
.style30{font-size:10px}
.style31{font-size:10px}
.style32{font-size:10px}
.style33{font-size:10px}
.wappler-temp{}
.style34{font-size:10px}
.style35{font-size:10px}
.style36{height:20px;background-color:#e9ecef}
.style37{font-weight:bold}
.wappler-temp{}
.style38{width:230px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
head{}
head{}
.style39{font-size:10px;width:50px}
.style40{position:sticky;top:0}
.style41{}
.style42{height:20px}
.style43{height:30px;border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px}
.style44{height:30px;border-top-left-radius:0px;border-top-right-radius:0px;border-bottom-left-radius:0px;border-bottom-right-radius:0px}
.style45{}
.style46{}
.style47{width:10px;height:10px}
.style48{font-size:10px;font-weight:bold}
.style49{}
.style50{}
.style51{width:8px}
.style52{width:8px}
.wappler-temp{}
.style53{/*  font-size:9px */}
.style54{font-size:9px}
.style55{font-size:9px}
.style56{font-size:9px}
.style57{font-size:9px}
.style58{/*  font-size:9px */}
.style59{font-size:9px}
.style60{/*  font-size:9px */}
.style61{font-size:9px}
.style62{font-size:10px}
.style63{font-size:11px}
.style64{font-size:11px}
.style65{font-size:11px}
.style66{font-size:11px}
.wappler-temp{}
.style67{font-size:11px}
.style68{font-size:9px}
.style69{/*  font-size:9px */}
.style70{font-size:15px}
.style71{padding-left:4px}
.style72{border-width:9px}
.style73{font-size:15px;text-transform:none}
.style74{margin-left:-57px;padding-left:0px;padding-right:11px}
.style75{margin-left:-20px}
.style76{right:1px;position:absolute}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style77{width:100px}
.style78{}
.style79{height:230px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style80{height:230px}
.style81{position:fixed;right:1px}
.style82{position:fixed;left:1px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style83{position:fixed}
.style84{}
.active{padding:8px;background:#6c757d;overflow:hidden;border-left:2px solid #00f}
.nav-linkactive{}
.style85{width:100%}
.style86{height:30px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style87{/*  position absolute: *//*  position:absolute *//*  bottom:25px */ }
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style88{font-size:12px}
.style89{position:absolute}
.style90{}
.style91{}
.style92{height:50%}
.style93{background-color:#0b5ed7;color:#f8f9fa;right:70px;text-align:right;font-size:20px}
.style94{border-color:rgba(255, 255, 255, 0.5);font-weight:bold;color:#ba1212;text-align:left;text-transform:uppercase;height:60%;font-size:12px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style95{font-size:12px}
.style96{position:relative;right:70px}
.style97{position:relative;margin-left:5px;padding-left:15px}
.style98{position:relative;right:100px}
.wappler-temp{}
.style99{}
.style100{position:relative;right:50px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style101{}
.style102{position:fixed;right:40%}
.style103{width:170px;font-size:12px}
.style104{width:20%;font-weight:bold;font-size:15px;color:#05347a}
.wappler-temp{}
.style105{}
.style106{font-size:12px}
.style107{font-size:12px}
.style108{}
.style109{}
.style110{height:20px}
.style111{}
.style112{font-size:8px}
.style113{font-size:15px}
.style114{font-size:15px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style115{text-transform:uppercase;font-weight:bold;text-decoration:underline}
.style116{text-transform:uppercase;font-weight:bold;text-decoration:underline}
.style117{text-transform:uppercase;font-weight:bold;text-decoration:underline}
.style118{font-size:10px}
.style119{}
.style120{text-align:right;font-size:20px;background-color:#1c71ed;color:#fff;text-decoration:underline}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style121{text-align:right;font-size:20px}
.style122{text-align:right;font-size:20px}
.style123{font-size:20px}
.style124{font-size:20px}
.style125{width:100px}
.style126{color:#ff2c2c}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.blink{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style127{width:300px}
.style128{width:300px}
.style129{width:300px}
.style130{width:350px}
.style131{}
.style132{color:#0d6efd}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style133{text-align:left/*  .dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}: ;: */}
.style134{}
.style135{height:300px}
.style136{font-size:12px;width:88px}
.style137{font-size:12px}
.style138{width:135px;font-size:12px}
.style139{font-size:12px}
.style140{font-size:12px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style141{font-size:12px}
.style142{}
.style143{font-size:12px;color:#fff}
.style144{font-size:12px;color:#fff}
.style145{font-size:12px;color:#fff}
.style146{}
.style147{padding-left:2px;padding-right:0px}
.style148{padding-left:2px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style149{font-size:12px}
.style150{background-color:#b30919}
.style151{}
.style152{background-color:#000}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style153{opacity:1}
.style154{float:left}
.style155{}
.style156{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style157{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style158{width:100px}
.style159{width:150px}
.style160{}
.style161{float:right}
.style162{width:650px;float:left}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style163{float:left}
.style164{float:right}
.style165{padding-right:21px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style166{height:20px}
.style167{height:90px}
.style168{font-size:12px}
.style169{font-size:12px}
.style170{font-size:12px}
.style171{font-size:12px}
.style172{font-size:12px}
.style173{font-size:12px}
.style174{font-size:12px}
.wappler-temp{}
.style175{font-size:12px}
.wappler-temp{}
.style176{font-size:12px}
.style177{font-size:12px}
.style178{font-size:12px}
.style179{font-size:12px}
.style180{font-size:12px}
.style181{font-size:12px}
.style182{font-size:12px}
.style183{font-size:12px}
.style184{font-size:12px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style185{font-size:12px}
.style186{font-size:12px}
.style187{font-size:12px}
.style188{font-size:12px}
.style189{font-size:12px}
.style190{font-size:112px}
.style191{font-size:12px}
.style192{font-size:12px}
.style193{font-size:12px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style194{font-size:12px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style195{font-size:12px}
.style196{font-size:12px}
.style197{font-size:12px}
.style198{font-size:12px}
.style199{font-size:12px}
.style200{font-size:12px}
.style201{font-size:12px}
.style202{font-size:12px}
.style203{font-size:12px}
.style204{font-size:12px}
.style205{font-size:12px}
.style206{font-size:12px}
.style207{font-size:12px}
.style208{font-size:12px}
.style209{font-size:12px}
.style210{font-size:12px}
.style211{font-size:12px}
.style212{font-size:12px}
.wappler-temp{}
.style213{font-size:12px}
.style214{font-size:12px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style215{font-size:12px}
.style216{font-size:12px;font-weight:bold}
.style217{font-size:12px;font-weight:bold}
.style218{font-size:12px}
.style219{font-size:12px}
.style220{font-size:12px}
.style221{font-size:12px}
.wappler-temp{}
.style222{font-size:12px}
.style223{font-size:12px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style224{font-size:12px}
.style225{font-size:12px}
.style226{font-size:12px}
.style227{font-size:12px}
.style228{font-size:12px}
.style229{font-size:12px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style230{font-size:12px}
.style231{font-size:12px}
.style232{font-size:12px}
.style233{font-size:12px}
.style234{font-size:12px}
.style235{font-size:12px}
.style236{font-size:12px}
.style237{font-size:12px}
.style238{font-size:12px}
.style239{font-size:12px}
.style240{font-size:1222px}
.style241{font-size:12px}
.style242{font-size:12px}
.style243{font-size:12px}
.style244{font-size:12px}
.style245{position:sticky;bottom:20px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style246{font-size:12px}
.style247{font-size:12px}
.style248{font-size:12px}
.style249{font-size:12px}
.style250{font-size:12px;text-align:right}
.style251{font-size:12px;text-align:right;width:110px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style252{width:100px}
.style253{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style254{font-size:12px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style255{}
.style256{}idth:50px}