.text-start{text-align:left!important;font-size:15px}
.style1{/*  linear-gradient(to right, RGB(110, 175, 233), RGB(110, 175, 233));: */background-image:linear-gradient(105deg, #0d6efd 33%, white 100%)}
.style2{background-image:linear-gradient(271deg, white 13%, #0d6efd 100%)}
.style3{width:650px;height:400px;margin:0px;padding:0px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style4{font-family:"Times New Roman", Times, serif;font-size:8px}
.style5{height:100vh}
.wappler-temp{}
.style6{font-size:9px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style7{font-size:9px;margin-top:0px;margin-bottom:0px;padding-top:0px;height:770px;display:grid}
.style7:not(:last-child){
    margin-bottom: 0;
}
.style8{font-size:10px;width:250px}
.wappler-temp{}
.style9{font-size:9px}
.style10{font-size:10px;width:250px}
.style11{font-size:10px;width:230px}
.style12{font-size:8px}
.style13{font-size:11px}
.style14{font-size:11px}
.style15{font-size:11px}
.style16{font-size:11px}
.style17{font-size:11px}
.style18{font-size:11px}
.style19{font-size:10px}
.style20{font-size:10px}
.style21{font-size:10px}
.style22{font-size:10px}
.style23{font-size:10px}
.style24{font-size:10px}
.style25{font-size:10px}
.style26{font-size:10px;width:50px}
.style27{font-size:10px}
.style28{font-size:10px}
.style29{font-size:10px}
.style30{font-size:10px}
.style31{font-size:10px}
.style32{font-size:10px}
.style33{font-size:10px}
.wappler-temp{}
.style34{font-size:10px}
.style35{font-size:10px}
.style36{height:20px;background-color:#e9ecef}
.style37{font-weight:bold}
.wappler-temp{}
.style38{width:230px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
head{}
head{}
.style39{font-size:10px;width:50px}
.style40{position:sticky;top:0}
.style41{}
.style42{height:20px}
.style43{height:30px}
.style44{height:30px}
.style45{}
.style46{}
.style47{width:10px;height:10px}
.style48{font-size:10px;font-weight:bold}
.style49{font-weight:bold}
.style50{font-weight:bold}
.style51{width:8px}
.style52{width:8px}
.wappler-temp{}
.style53{font-size:9px}
.style54{font-size:9px}
.style55{font-size:9px}
.style56{font-size:9px}
.style57{font-size:9px}
.style58{font-size:9px}
.style59{font-size:9px}
.style60{font-size:9px}
.style61{font-size:9px}
.style62{font-size:10px}
.style63{font-size:11px}
.style64{font-size:11px}
.style65{font-size:11px}
.style66{font-size:11px}
.wappler-temp{}
.style67{font-size:11px}
.style68{font-size:9px}
.style69{font-size:9px}
.style70{font-size:15px}
.style71{padding-left:4px}
.style72{border-width:9px}
.style73{font-size:15px;text-transform:none}
.style74{margin-left:-57px;padding-left:0px;padding-right:11px}
.style75{margin-left:-20px}
.style76{position:fixed;right:1px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style77{width:100px}
.style78{}
.style79{height:230px}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.wappler-temp{}
.style80{height:230px}
.style81{position:fixed;right:1px}
.style82{position:fixed;left:1px}