<dmx-value id="VarListFactures"></dmx-value>
<dmx-serverconnect id="ServSPencaissement"></dmx-serverconnect>
<dmx-serverconnect id="servEcheance" dmx-param:new="input1.value"></dmx-serverconnect>
<dmx-serverconnect id="ServBanque"></dmx-serverconnect>
<dmx-datetime id="VDate"></dmx-datetime>
<dmx-serverconnect id="serverConnect_Header"></dmx-serverconnect>
<dmx-serverconnect id="serverConnect_Listfactures"></dmx-serverconnect>
<meta name="ac:route" content="/Encaissement/index">
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="form-group mb-3 row">
                <label for="input1" class="col-sm-2 col-form-label col gx-5 ps-0 pe-0"><b>N Contrat :</b></label>
                <div class="col-sm-2 ms-0 ps-0 col gx-1">
                    <input type="text" class="form-control" id="input1" name="input1" aria-describedby="input1_help" placeholder="Enter some text" is="dmx-input" value="">
                </div>
                <div class="col-5">
                    <button id="btn_ok" class="btn btn-outline-secondary bg-primary text-white" is="dmx-button" value="" type="button"><b>ok</b>&nbsp;</button>
                    <button id="btn_" class="btn btn-outline-secondary me-3" is="dmx-button" value="" type="button"><b>...</b></button><a is="dmx-link" href="">
                        plus detailles ...
                    </a>
                </div>
            </div>

        </div>
        <div class="col-1"></div>
        <div class="col"></div>
        <div class="col"></div>

    </div>
    <div class="row row-cols-3">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item"><b>Nom Payeur :&nbsp; MOHAMED ALI HOUMAD</b></li>
                <li class="list-group-item"><b>Adesse : BALBALA HAYABLEH</b></li>
                <li class="list-group-item"><b>Solde compte : 0</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>Debit&nbsp;</b></li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item"><b>N PL : 154450-16</b></li>
                <li class="list-group-item"><b>N Compteur : 015955</b></li>
            </ul>
        </div>
    </div>
    <div class="row row-cols-5">
        <div class="mt-2 col-2">
            <div class="form-group mb-3">
                <label for="input2" class="form-label"><b>Date&nbsp;</b></label>
                <input type="text" class="form-control" id="input2" name="input2" aria-describedby="input2_help" placeholder="Enter some text" readonly="true" is="dmx-input" value="17-01-2024">
            </div>
        </div>
        <div class="mt-2 col-2">
            <div class="form-group mb-3">
                <label for="montantLiquide" class="form-label"><b>Montant liquide</b></label>
                <input type="number" class="form-control" id="montantLiquide" name="input3" aria-describedby="input2_help" placeholder="Enter some text" is="dmx-input" value="">
            </div>
        </div>
        <div class="mt-2 col-2">
            <div class="form-group mb-3">
                <label for="MontantCheque" class="form-label"><b>Montant Cheque</b></label>
                <input type="number" class="form-control" id="MontantCheque" name="input4" aria-describedby="input2_help" placeholder="Enter some text" is="dmx-input" value="">
            </div>
        </div>
        <div class="mt-2 col-2">
            <div class="form-group mb-3">
                <label for="input5" class="form-label"><b>Banque</b></label>
                <select id="banque" class="form-select" is="dmx-select">
                    <option value="0" selected=""> </option>
                    <option value="289">BCI TADJOURAH</option>
                    <option value="290">BCI ALI SABIEH</option>
                    <option value="368">BANQUE DE DEPOT ET CREDIT DE DJIBOUTI</option>
                    <option value="389">SALAAM AFRICAN BANK</option>
                    <option value="390">EAST AFRICAN BANK (DAHABSHILL INTERNATIONAL BANK)</option>
                    <option value="391">CAC INTERNATIONAL BANK </option>
                    <option value="296">SABA AFRICAN BANK</option>
                    <option value="299">INTERNATIONAL INVESTMENT BANK</option>
                    <option value="86">BCIMR</option>
                    <option value="392">SHOURAH BANK</option>
                    <option value="393">EXIM BANQ</option>
                    <option value="394">Test Banque Dev</option>
                    <option value="395">DMONEY TEST</option>
                    <option value="87">BANK OF AFRICA</option>
                </select>
            </div>
        </div>
        <div class="mt-2 col-2">
            <div class="form-group mb-3">
                <label for="NroDoc" class="form-label"><b>N Document</b></label>
                <input type="number" class="form-control" id="NroDoc" name="input6" aria-describedby="input2_help" placeholder="Enter some text" is="dmx-input" value="">
            </div>
        </div>
    </div>
    <div class="row">

        <div class="h-25 col-8">
            <div class="form-group mb-3 row">
                <label for="input5" class="col-sm-2 col-form-label"><b>Nombre d'echeance :</b></label>
                <div class="col-sm-1">

                    <select id="select2" class="form-select" is="dmx-select">
                    </select>
                </div>
                <div class="h-25 ms-5 ps-5 col-8">
                    <h4 id="TotalMontant" class="text-white bg-primary">TOTAL : 4 670</h4>
                </div>
            </div>
        </div>

    </div>
    <div class="row border border-dark mh-100 row-cols-10">
        <small class="text-muted mark">Mouvements Non Affectees</small>
        <section class="container ms-2 me-2">
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table table-striped  ">
                        <thead>
                            <tr>
                                <th scope="row"></th>
                                <th>N° Pièce</th>
                                <th>Date</th>
                                <th>Type Mouvement</th>
                                <th>Débit</th>
                                <th>Crédit</th>
                                <th class="d-none">Num contrat</th>
                                <th class="d-none">Nro lettrage</th>
                                <th class="d-none">Ltype</th>
                                <th class="d-none">Type mvt</th>
                                <th class="d-none">Ligneno</th>
                                <th class="d-none">Echu</th>
                                <th class="d-none">Echeance</th>
                                <th class="d-none">Echu filter</th>
                                <th class="d-none">Date lettrage</th>
                                <th class="d-none">Montant tva</th>
                            </tr>
                        </thead>
                        <tbody is="dmx-repeat" dmx-generator="bs5table" id="tableRepeat2">
                            <tr>
                                <td>
                                    <div is="dmx-checkbox-group" id="group1" class="checkbox-group">
                                        <input id="checkbox1" type="checkbox" class="select-checkbox" is="dmx-checkbox" value="" name="202306001231">
                                    </div>
                                </td>
                                <td>202306001231</td>
                                <td>06-Jun-2023</td>
                                <td>FACTURE ABONNEMENT (ASC)</td>
                                <td>4670</td>
                                <td>0</td>
                                <td class="d-none">323357</td>
                                <td class="d-none"></td>
                                <td class="d-none">F</td>
                                <td class="d-none">19</td>
                                <td class="d-none">1</td>
                                <td class="d-none">0</td>
                                <td class="d-none">0</td>
                                <td class="d-none">0</td>
                                <td class="d-none"></td>
                                <td class="d-none">0</td>
                            </tr>
                            <tr class="border-style:hidden ">
                                <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"></td>
                            </tr>

                            <tr>
                                <td>
                                    <div is="dmx-checkbox-group" id="group1" class="checkbox-group">
                                        <input id="checkbox1" type="checkbox" class="select-checkbox" is="dmx-checkbox" value="" name="202307049996">
                                    </div>
                                </td>
                                <td>202307049996</td>
                                <td>01-Aug-2023</td>
                                <td>FACTURE ENERGIE PERIODIQUE</td>
                                <td>10311</td>
                                <td>0</td>
                                <td class="d-none">323357</td>
                                <td class="d-none"></td>
                                <td class="d-none">F</td>
                                <td class="d-none">2</td>
                                <td class="d-none">1</td>
                                <td class="d-none">0</td>
                                <td class="d-none">0</td>
                                <td class="d-none">0</td>
                                <td class="d-none"></td>
                                <td class="d-none">0</td>
                            </tr>
                            <tr class="border-style:hidden ">
                                <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <table class="table table-borderless " id="Table2" style="display: none !important;">
                <tbody id="tableRepeat1">
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> Pas De donnees</td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"></td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"></td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                </tbody>
            </table>

        </section>
    </div>
    <div class="row mt-3">



        <div class="col-3">
            <h5 id="MontanNonAffecte" class="text-body">
                Total Non Affecte&nbsp; &nbsp;:&nbsp;&nbsp;
                <small id="MontantNonAffecteValue" class="text-body"> </small>
            </h5>
            <h5 id="MontanAffecte">
                Montant Affectees :&nbsp;&nbsp; <a id="MontantAffecteValue" is="dmx-link" href="#">4 670</a></h5>
        </div>

        <div class="offset-1 col-4">
            <h5 id="difference" class="text-danger">
                Diferrence :&nbsp; &nbsp; <small id="DiferrenceValue" class="text-danger">0</small></h5>
        </div>
    </div>
    <div class="row mt-4 mb-5 pt-2 pb-0">
        <div class="col-9">
            <div class="form-group mb-3">
                <button id="btn4" class="btn me-5 btn-sm w-25 fw-bold lh-lg text-uppercase text-white bg-success" is="dmx-button" value="" type="button">Mise A jour</button>
                <div class="form-check form-check-inline">
                    <input class="form-check-input ms-5" type="checkbox" id="input5" name="input5" is="dmx-checkbox" value="">
                    <label class="form-check-label" for="input5">Imprimer Recu</label>
                </div><button id="btn3" class="btn ms-5 me-5 w-25 lh-lg text-uppercase fw-bold bg-danger text-light btn-sm" is="dmx-button" value="" type="button">Fermer</button>

            </div>
        </div>
    </div>
</div>






<meta name="ac:route" content="/Encaissement/index">

<script>
    let datas = [];
    function getSelectedData()
    {
    const checkboxes = document.querySelectorAll('.select-checkbox:checked');

    let val = 0;
    let result=" ";
    let tmp_mvtpaye_tx="";
    let selectedData = [];
    checkboxes.forEach(checkbox => {
    const row = checkbox.closest('tr');
    if (row) {
    const rowData = {
    trid: (row.getElementsByTagName('td')[1]).innerHTML,
    //date: (row.getElementsByTagName('td')[2]).innerHTML,
    // libelle_Type_Mvt: (row.getElementsByTagName('td')[3]).innerHTML,
    debit: (row.getElementsByTagName('td')[4]).innerHTML,
    credit: (row.getElementsByTagName('td')[5]).innerHTML,
    ltype : (row.getElementsByTagName('td')[8]).innerHTML,
    typeMvt : (row.getElementsByTagName('td')[9]).innerHTML,
    montant_tva :(row.getElementsByTagName('td')[15]).innerHTML
    //result = tmp_mvtpaye_tx.concat("hi")
    };
    console.log(rowData);
    selectedData.push(rowData);

    }
    });


    let totalDebit = 0;
    let totalCrebit = 0;

    selectedData.forEach(data => {

    totalDebit += parseInt(data.debit);
    totalDebit -= parseInt(data.credit);
    });
     


    var linkelement=document.getElementById("MontantAffecteValue");
    document.getElementById('MontantAffecteValue').innerHTML = Intl.NumberFormat().format(totalDebit);
    document.getElementById('DiferrenceValue').innerHTML=  Intl.NumberFormat().format( totalDebit);
    document.getElementById("MontantAffecteValue").onclick = function(){clickfunction()};

    function clickfunction()
    {

    if (parseInt(document.getElementById("MontantAffecteValue").innerHTML)>0)
    {
        var total = Intl.NumberFormat().format(totalDebit + document.getElementById('MontantCheque').value)
    document.getElementById('TotalMontant').innerHTML = "TOTAL : " + total;

    selectedData.forEach(data => {
    tmp_mvtpaye_tx += data.ltype +"_" +data.trid+ "_" +data.typeMvt+"_"+data.montant_tva+"°"
    });

    dmx.parse("content.VarListFactures.setValue('" + JSON.stringify(tmp_mvtpaye_tx) +"')");
    //dmx.app.data.content.var5.Value= tmp_mvtpaye_tx;
    localStorage.setItem('dmxState-new', JSON.stringify(tmp_mvtpaye_tx));
    console.log(dmx);
    console.log(totalDebit);
    
    document.getElementById('montantLiquide').value = totalDebit;
    }
    }
    linkelement.addEventListener("click", (e) => {

    if (parseInt(document.getElementById("MontantAffecteValue").innerHTML)>0)
    {
    document.getElementById('DiferrenceValue').innerHTML= 0;}
    /*var json = '';
    var montantLiquide = {};

    montantLiquide['Num_contrat'] = document.getElementById('input_numContrat').value;
    montantLiquide['liquide'] = document.getElementById('liquide').value;
    montantLiquide['argno_numdoc'] = document.getElementById('input_argno_doc').value;
    montantLiquide['arg_banque'] = document.getElementById('select1').value;
    montantLiquide['argusermaj'] = 47433;
    montantLiquide['argmvtpaye_tx'] = JSON.parse(JSON.stringify(datas));

    json = JSON.stringify(montantLiquide);
    dmx.parse("var4.setValue('" + JSON.stringify(montantLiquide) +"')");


    console.log (json)
    datas.lenght=0;*/
    });

    datas = selectedData;

    }
</script>
</div>