<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="index" appConnect="local" components="{dmxTyped:{},dmxBootstrap5TableGenerator:{},dmxFormatter:{}}" -->
<dmx-serverconnect id="serverConnect_Header" url="/api/Encaissement/readheader"></dmx-serverconnect>
<dmx-serverconnect id="serverConnect_Listfactures" url="/api/Encaissement/listFacture"></dmx-serverconnect>
<meta name="ac:route" content="/Encaissement/index">
<div class="container-fluid">
    <div class="row">


        <div class="col-8">
            <div class="form-group mb-3 row">

                <label for="input1" class="col-sm-2 col-form-label col gx-5 ps-0 pe-0"><b>N Contrat :</b></label>
                <div class="col-sm-2 ms-0 ps-0 col gx-1">

                    <input type="text" class="form-control" id="input1" name="input1" aria-describedby="input1_help" placeholder="Enter some text">
                </div>
                <div class="col-5">
                    <button id="btn_ok" class="btn btn-outline-secondary bg-primary text-white" dmx-on:click="serverConnect_Header.reset();serverConnect_Listfactures.reset();serverConnect_Header.load({id_contrat: input1.value});serverConnect_Listfactures.load({id_contrat: input1.value})"><b>ok</b>&nbsp;</button>
                    <button id="btn_" class="btn btn-outline-secondary me-3"><b>...</b></button><a href="">
                        plus detailles ...
                    </a>
                </div>
            </div>

        </div>
        <div class="col-1"></div>
        <div class="col"></div>
        <div class="col"></div>

    </div>
    <div class="row row-cols-3">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item"><b>Nom Payeur :&nbsp; {{serverConnect_Header.data.api.data.headerQuery[0].nom}}</b></li>
                <li class="list-group-item"><b>Adesse : {{serverConnect_Header.data.api.data.headerQuery[0].adresse}}</b></li>
                <li class="list-group-item"><b>Solde compte : {{serverConnect_Header.data.api.data.headerQuery[0].solde_compte}}</b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>Debit&nbsp;</b></li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item"><b>N PL : {{serverConnect_Header.data.api.data.headerQuery[0].codepl}}</b></li>
                <li class="list-group-item"><b>N Compteur : {{serverConnect_Header.data.api.data.headerQuery[0].code_cpteur}}</b></li>
            </ul>
        </div>
    </div>
    <div class="row row-cols-5">
        <div class="mt-2 col-2">
            <div class="form-group mb-3">
                <label for="input2" class="form-label"><b>Date&nbsp;</b></label>
                <input type="text" class="form-control" id="input2" name="input2" aria-describedby="input2_help" placeholder="Enter some text">
            </div>
        </div>
        <div class="mt-2 col-2">
            <div class="form-group mb-3">
                <label for="input3" class="form-label"><b>Montant liquide</b></label>
                <input type="text" class="form-control" id="input3" name="input3" aria-describedby="input2_help" placeholder="Enter some text">
            </div>
        </div>
        <div class="mt-2 col-2">
            <div class="form-group mb-3">
                <label for="input4" class="form-label"><b>Montant Cheque</b></label>
                <input type="text" class="form-control" id="input4" name="input4" aria-describedby="input2_help" placeholder="Enter some text">
            </div>
        </div>
        <div class="mt-2 col-2">
            <div class="form-group mb-3">
                <label for="input5" class="form-label"><b>Banque</b></label>
                <select id="select1" class="form-select">
                    <option value="1">Option One</option>
                    <option value="2">Option Two</option>
                    <option value="3">Option Three</option>
                </select>
            </div>
        </div>
        <div class="mt-2 col-2">
            <div class="form-group mb-3">
                <label for="input6" class="form-label"><b>N Document</b></label>
                <input type="text" class="form-control" id="input6" name="input6" aria-describedby="input2_help" placeholder="Enter some text">
            </div>
        </div>
    </div>
    <div class="row">

        <div class="h-25 col-8">
            <div class="form-group mb-3 row">
                <label for="input5" class="col-sm-2 col-form-label"><b>Nombre d'echeance :</b></label>
                <div class="col-sm-1">

                    <select id="select2" class="form-select">
                    </select>
                </div>
                <div class="h-25 ms-5 ps-5 col-4">
                    <p class="bg-primary"><b>TOTAL :&nbsp;&nbsp;</b></p>
                </div>
            </div>
        </div>

    </div>
    <div class="row border border-dark mh-100 row-cols-10">
        <small class="text-muted mark">Mouvements Non Affectees</small>
        <section class="container ms-2 me-2">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="row"></th>
                            <th>N° Pièce</th>
                            <th>Date</th>
                            <th>Type Mouvement</th>
                            <th>Débit</th>
                            <th>Crédit</th>
                            <th class="d-none">Num contrat</th>
                            <th class="d-none">Nro lettrage</th>
                            <th class="d-none">Ltype</th>
                            <th class="d-none">Type mvt</th>
                            <th class="d-none">Ligneno</th>
                            <th class="d-none">Echu</th>
                            <th class="d-none">Echeance</th>
                            <th class="d-none">Echu filter</th>
                            <th class="d-none">Date lettrage</th>
                            <th class="d-none">Montant tva</th>
                        </tr>
                    </thead>
                    <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="serverConnect_Listfactures.data.api.data.queryListFactures" id="tableRepeat2">
                        <tr>
                            <td>
                                <div is="dmx-checkbox-group" id="group1" class="checkbox-group">
                                    <input id="checkbox1" type="checkbox">
                                </div>
                            </td>
                            <td dmx-text="trid"></td>
                            <td dmx-text="trdate.formatDate('dd-MMM-yyyy')"></td>
                            <td dmx-text="libelle_type_mvt"></td>
                            <td dmx-text="debit.formatCurrency(' ', ' ', ' ')"></td>
                            <td dmx-text="credit.formatCurrency(' ', ' ', ' ')"></td>
                            <td dmx-text="num_contrat" class="d-none"></td>
                            <td dmx-text="nro_lettrage" class="d-none"></td>
                            <td dmx-text="ltype" class="d-none"></td>
                            <td dmx-text="type_mvt" class="d-none"></td>
                            <td dmx-text="ligneno" class="d-none"></td>
                            <td dmx-text="echu" class="d-none"></td>
                            <td dmx-text="echeance" class="d-none"></td>
                            <td dmx-text="echu_filter" class="d-none"></td>
                            <td dmx-text="date_lettrage" class="d-none"></td>
                            <td dmx-text="montant_tva" class="d-none"></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <table class="table table-borderless " id="Table2" dmx-show="!serverConnect_Listfactures.data.api.data.queryListFactures.hasItems()">
                <tbody id="tableRepeat1">
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> Pas De donnees</td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"></td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"></td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                    <tr>
                        <td colspan="15" class="lh-lg text-uppercase text-center bg-light fw-bold text-secondary text-nowrap"> </td>
                    </tr>
                </tbody>
            </table>

        </section>
    </div>
    <div class="row mt-3">

        <div class="col-3">
            <h5>Total Non Affecte&nbsp; &nbsp;:</h5>
            <h5>Montant Affectees :</h5>
        </div>
        <div class="col-3">
            <h5 class="text-danger">Diferrence : 0&nbsp;&nbsp;</h5>
        </div>
    </div>
    <div class="row mt-4 mb-5 pt-2 pb-0">
        <div class="col-9">
            <div class="form-group mb-3">
                <button id="btn4" class="btn me-5 btn-sm w-25 fw-bold lh-lg text-uppercase text-white bg-success">Mise A jour</button>
                <div class="form-check form-check-inline">
                    <input class="form-check-input ms-5" type="checkbox" value="" id="input5" name="input5">
                    <label class="form-check-label" for="input5">Imprimer Recu</label>
                </div><button id="btn3" class="btn ms-5 me-5 w-25 lh-lg text-uppercase fw-bold bg-danger text-light btn-sm">Fermer</button>

            </div>
        </div>
    </div>
</div>
<script>
    var checkboxItems = document.getElement
</script>