<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="LoginPage" appConnect="local" components="{dmxBrowser:{},dmxNotifications:{}}" -->
<dmx-notifications id="notifies1"></dmx-notifications>
<div is="dmx-browser" id="browser1"></div>
<meta name="ac:route" content="/authentification/LoginPage">
<div class="container pb-5"></div>
<div class="mt-0 container-fluid border-dark text-center gx-2 gy-1 w-auto col d-flex justify-content-center align-items-center">
    <div class="row mb-3">
        <form id="login1" method="post" is="dmx-serverconnect-form" action="/api/Login/ApiLogin" dmx-on:success="browser1.goto('/Encaissement/Encaissement_facture')" dmx-on:error="notifies1.danger(lastError.response.message)">
            <div class="row border border-secondary">
                <div class="col-12 col-md-8 text-start col-lg-12 col-xl-12">
                    <div class="row">
                        <div class="col">
                            <h4 class="text-center mark">Gescli | Gestion de la Clientelle</h4>
                            <p class="text-h3"></p>
                        </div>
                    </div>
                    <div class="row align-items-stretch justify-content-around">
                        <div class="mt-4 col">
                            <input type="number" id="inp_email" name="email" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="h-50 col-12">
                            <input type="password" id="inp_password" name="password" class="form-control" placeholder="Password ">
                            <div class="input-group-append">

                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col">
                            <button id="login1_submit" class="btn w-100 active bg-info mb-2" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>